<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Ajuste a connection string para seu banco local -->
    <add name="DefaultConnection" connectionString="Server=(localdb)\\MSSQLLocalDB;Database=SistemaHotel_Cad;Trusted_Connection=True;MultipleActiveResultSets=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
